$background-yellow: #eff6C9;
$background-green: #bbd3A2;
$background-canary: #e4f48b;
$text-color: #21501d;

body{
    color: $text-color;
}
.header, .footer{
    background-color: $background-yellow;
}
.footer{
    padding: 20px;
}
.title{
    font-size: 64px;
}
.mainSubtitle{
    font-size: 48px;
}

.nav-link{
    background-color: $background-green;
    border-left: 1px solid $background-yellow;
    color: #fff!important;
    font-size: 24px;
    text-align: center;
    width: 300px;
    height: 60px;
}
.nav-link:hover{   
    background-color: $background-canary;
    cursor: pointer;
}
.navbar{
    background-color: $background-green;
    padding: 0;
}
.navbar-nav:last-of-type{
    border-right: 1px solid $background-yellow;
}
.icon{
    color: $background-green;
    margin-right: 5px;
}
.icon:hover{
    color: $text-color;
}
.main{
    background-image: url(images/background.jpg);
    height: 740px;
}
.blocks{
    width: 160px;
    height: 110px;
}
.block{
    border: 2px solid green;
    width: 155px;
    height: 103px;
}
.displayNone{
    display: none;
}
.constructor{
    display: block;
}